<app-navbar title="Mis pedidos"></app-navbar>
<ion-content>
  <ion-segment (ionChange)="isFinished=!isFinished" value="finished">
    <ion-segment-button value="finished">
      <ion-label>Entregados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="unfinished">
      <ion-label>Pendientes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Refresh -->
  <ion-refresher slot="fixed" (ionRefresh)="nexts($event,true)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <!-- Loading animation -->
  <ion-grid *ngIf="loading">
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="isFinished">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-md="6" *ngFor="let order of ordersFinished">
          <app-card-order-client [order]="order" class="ion-padding">
          </app-card-order-client>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <div *ngIf="!isFinished">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="6" size-md="6" *ngFor="let order of ordersUnfinished">
          <app-card-order-client [order]="order" class="ion-padding"></app-card-order-client>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>