.active-item{
    border-left: 8px solid var(--ion-color-primary);;
}

ion-menu.ios ion-note {
    line-height: 24px;
}

ion-note {
  display: inline;
  font-size: 14px;
  color: var(--ion-color-medium-shade);
}